aws_region      = "us-east-1"
environment     = "prod"
app_name        = "picmeup"
s3_bucket_name  = "picmeup-photos-prod"
db_instance_class = "db.t4g.micro"
ecs_cpu         = 512
ecs_memory      = 1024
ecs_desired_count = 1
